$gray: #525C60;
$dark-gray: #B8B8B8;
$light-gray: #F9F8F8;
$blue: #274C5B;
$green: #7EB693;
$light-green: #EFF6F1;
$white: #fff;
$dark-white: #F1F1F1;
$yellow: #EFD372;

$font-primary: OpenSans, sans-serif;