.header {
  position: fixed;
  left: 0;
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 100;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}