html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;

}

body {
  color: $gray;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  // vertical-align: middle;
  border-style: none;
  object-fit: cover;
  max-width: 100%;
  display: block;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}